{% extends "doro/base.html" %}
{% load date_handling %}
{% block content %}


{% include 'doro/partials/intro_banner.html' %}

  <div class="item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2><em>Produkt</em>übersicht.</h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="left-image">
            <img src="{{ obj.img.url }}" alt="" style="border-radius: 20px;">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h4>{{ obj.name }} {% if obj.special_offer %} - <em>Special offer!</em>{% endif %}</h4>
          <span class="author">
            <!-- <img src="{#{ MEDIA_URL }#}images/author-02.jpg" alt="" style="max-width: 50px; border-radius: 50%;"> -->
            <!-- <h6>Liberty Artist<br><a href="#">@libertyart</a></h6> -->
            <h6>
                {% if obj.vegan %}<i style="color: green;" class="fa-solid fa-seedling"></i> <i style="color: green;" class="fa-solid fa-seedling"></i>{% endif %}
                {% if obj.vegetarian %}<i style="color: green;" class="fa-solid fa-seedling"></i>{% endif %}
            </h6>
          </span>
          {% if obj.description %}
          <h6>Beschreibung</h6>
          <p>{{ obj.description }}</p>
          {% endif %}
          {% if obj.description_long %}
          <p>{{ obj.description_long }}</p>
          {% endif %}

          {% if obj.bio %}
          <p><em>VOLL BIO!</em></p>
          {% endif %}


          {% if obj.saisonal_month %}
          <h6>Saison:</h6>
          <p>
          {% for month_number in obj.saisonal_month %}
              {{ month_number|month_name|safe }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
          {% endif %}

          {% if obj.region %}
          <h6>Herkunf:</h6>
          <p>
              {{ obj.region }}
            </p>
          {% endif %}
          {% if obj.ingredients.all %}
          <h6>Zutaten:</h6>
          <p>
              {% for ingredient in obj.ingredients.all %}
                  {{ ingredient }} (LINK !!!){% if not forloop.last %}, {% endif %}
              {% endfor %}
            </p>
          {% endif %}

          {% if obj.allergies.all %}
          <h6>Allergien:</h6>
          <p>
              {% for allergy in obj.allergies.all %}
                  {{ allergy }} (LINK !!!){% if not forloop.last %}, {% endif %}
              {% endfor %}
            </p>
          {% endif %}

          {% if obj.additives.all %}
          <h6>Zusatzstoffe:</h6>
          <p>
              {% for additive in obj.additives.all %}
                  {{ additive }} (LINK !!!){% if not forloop.last %}, {% endif %}
              {% endfor %}
            </p>
          {% endif %}

          <div class="row">
            <!-- <div class="col-3">
              <span class="bid">
                Current Bid<br><strong>6.06 ETH</strong><br><em>($8,025.50)</em>
              </span>
            </div> -->
            <div class="col-4">
              <span class="owner">
                Erhältlich in:<br>
                {% for place in obj.place.all %}
                <strong>{{ place.name }} ({{ place.slug }})</strong>
                {% if not forloop.last %}
                <br>
                {% endif %}
                {% endfor %}
                <!-- <br><em>(@davidwalker)</em> -->

              </span>
            </div>
            <div class="col-5">
              <span class="ends">
                Preis:<br><strong>{{ obj.price }} €</strong>
                <!-- <br>
                <em>(January 22nd, 2021)</em> -->
              </span>
            </div>
          </div>
          <!-- <form action="submit">
            <label for="quantity-text">Place Bid:</label>
            <input placeholder="1 ETH" class="quantity-text">
            <button type="submit" id="form-submit" class="main-button">Submit Now</button>
          </form> -->
        </div>

        <hr/>

        <!-- <div class="col-lg-12">
          <div class="current-bid">
            <div class="row">
              <div class="col-lg-6">
                <div class="mini-heading"><h4>Current Biddings Prices ( ETH )</h4></div>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <select name="Category" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                      <option selected>Sort By: Latest</option>
                      <option type="checkbox" name="option1" value="old">Sort By: Oldest</option>
                      <option value="low">Sort By: Lowest</option>
                      <option value="high">Sort By: Highest</option>
                  </select>
              </fieldset>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="{#{ MEDIA_URL }#}images/current-01.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>David Walker</h4>
                    <a href="#">@davidwalker</a>
                    <div class="line-dec"></div>
                    <h6>Bid: <em>0.06 ETH</em></h6>
                    <span class="date">24/07/2022, 22:00</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="{#{ MEDIA_URL }#}images/current-02.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>David Walker</h4>
                    <a href="#">@davidwalker</a>
                    <div class="line-dec"></div>
                    <h6>Bid: <em>0.06 ETH</em></h6>
                    <span class="date">24/07/2022, 22:00</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="{#{ MEDIA_URL }#}images/current-03.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>David Walker</h4>
                    <a href="#">@davidwalker</a>
                    <div class="line-dec"></div>
                    <h6>Bid: <em>0.06 ETH</em></h6>
                    <span class="date">24/07/2022, 22:00</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="{#{ MEDIA_URL }#}images/current-02.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>David Walker</h4>
                    <a href="#">@davidwalker</a>
                    <div class="line-dec"></div>
                    <h6>Bid: <em>0.06 ETH</em></h6>
                    <span class="date">24/07/2022, 22:00</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="{#{ MEDIA_URL }#}images/current-04.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>David Walker</h4>
                    <a href="#">@davidwalker</a>
                    <div class="line-dec"></div>
                    <h6>Bid: <em>0.06 ETH</em></h6>
                    <span class="date">24/07/2022, 22:00</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="{#{ MEDIA_URL }#}images/current-01.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>David Walker</h4>
                    <a href="#">@davidwalker</a>
                    <div class="line-dec"></div>
                    <h6>Bid: <em>0.06 ETH</em></h6>
                    <span class="date">24/07/2022, 22:00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>

{% include 'doro/partials/layer3.html' %}
{% endblock content %}
